<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Admin</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ngStorage',"firebase"]).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("pocApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>

    <script src="js/adminCtrl.js"></script>
    <script src="js/libs/firebase.js"></script>
    <script src="js/libs/angularfire.min.js"></script>



<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
    <script src="js/qrVisualizerCtrl.js"></script>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/showParameters.js"></script>

    <script src="js/viewVSCtrl.js"></script>
    <script src="js/qrVisualizerSvc.js"></script>
    <script src="js/viewItemCtrl.js"></script>
    <script src="js/makeQHelperSvc.js"></script>
    -->
    <script src="js/utilsSvc.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/loginCtrl.js"></script>
    <style>

        .ignored {
            background-color: mistyrose;
        }


        .deleted {
            background-color: red;
            color: white;
        }


    </style>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDG1ToLHycsMUX0CfX0OZVSRUUpFQeKE9o",
            authDomain: "canshare-730e6.firebaseapp.com",
            projectId: "canshare-730e6",
            storageBucket: "canshare-730e6.appspot.com",
            messagingSenderId: "12147821347",
            appId: "1:12147821347:web:5963d577cb050259475a96"
        };
        if (firebase) {
            console.log('init firebase')
            firebase.initializeApp(firebaseConfig);

        }
    </script>

</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="topApp" ng-controller="adminCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-3">
                    <span>
                        <a class="navbar-brand" href="#">
                            Administration
                        </a>
                    </span>

            </div>

            <div class="col-md-1">
                <div class="navbar-text">

                </div>
            </div>

            <div class="col-md-4">
                <div class="navbar-text">


                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <form class="navbar-form navbar-left">
                    <img ng-if="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </form>
            </div>

            <div class="col-md-1">
                <div class="navbar-text " ng-hide="user.email">
                    <div style="padding: 8px">
                        <span style="font-size:1.2em; cursor: pointer" uib-popover="Click to log in"
                              class="pull-right"
                              popover-placement="left"
                              popover-trigger="'mouseenter'">
                            <div ng-click="login()">
                                <i class="glyphicon glyphicon-log-in"></i>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="navbar-text"  ng-show="user.email">
                    <div style="padding: 8px">

                        <span style="font-size:1.2em;  cursor: pointer" uib-popover="{{user.email}}"
                              popover-placement="left"
                              popover-trigger="'mouseenter'">
                            <span ng-click="logout()">
                                <i class="glyphicon glyphicon-log-out"></i>
                            </span>
                        </span>



                    </div>
                </div>
            </div>



            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

    <uib-tabset ng-show="user.email">



        <uib-tab heading="Backup / Restore">
            <br/>


            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn-primary btn" ng-click="doExport()">Make export file</button>
                        </div>
                        <div class="col-md-8">
                            Create an export file from the database and save to the local computer. The file can subsequently be used
                            to resource or update a database on another server.
                        </div>

                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn-primary btn" ng-click="backupFromProd()">Update from production</button>
                        </div>
                        <div class="col-md-8">
                            Update the local database from the production database. Only shown if in the backup server
                        </div>

                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn-danger btn" ng-click="restoreFromImport()">Restore from export</button>
                        </div>
                        <div class="col-md-8">
                            Restore all or part of a database from a previously created export file. shown in both
                            prod and backup. Need a secret. upload a previous export file and update from there.
                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div ng-show="updateLog" class="tableFixHeadSmall">

                        <h4>Update complete. Log of transactions:</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr><th>Kind</th><th>Name</th><th>Inserted</th></tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat = "row in updateLog"
                                ng-class="{ignored:row.action=='Ignored'}">
                                <td>{{row.kind}}</td>
                                <td>{{row.display}}</td>
                                <td>
                                    {{row.action}}

                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>



                </div>
            </div>








        </uib-tab>
        <uib-tab heading="Browse active database">
            <br/>
            <!--
            <h4>
                Database name: {{systemConfig.mongoDb}}
            </h4>
             <br/>
            -->


            <strong>Table</strong>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div ng-class="{'list-group-item' : true,listItemSelected:table == selectedTable}"
                             style="cursor: pointer"
                             ng-click = "selectTable(table)"
                             ng-repeat = "table in tables">
                            {{table.display}}
                        </div>
                    </div>

                    <div><strong>Filter</strong></div>
                    <textarea class="form-control"
                              placeholder=' eg {"name":"Patient"}'
                              ng-model="input.filter"></textarea>

                    <br/>
                    <div><strong>Sort</strong></div>
                    <textarea class="form-control"
                              placeholder=' eg {"name":1,"version":-1}'
                              ng-model="input.sort"></textarea>

                    <button class="btn btn-link pull-right" ng-click="selectTable(selectedTable,input.filter,input.sort)">Refresh</button>

                    <div class="clearfix"></div>
                    <em>Filter and sort must be valid json. Use " as delimeter</em>
                    <br/>
                    <div><strong>Examples</strong></div>
                    <div>Filter</div>
                    <div>{"name":"test"}</div>

                    <div>Sort</div>
                    <div>{"version":-1}</div>

                </div>

                <div class="col-md-4">




                    <div class="tableFixHead">
                        <table class="table-bordered table table-condensed">
                            <thead>
                            <tr>
                                <th ng-repeat="col in selectedTable.summaryFields">{{col}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in tableSummary"
                                style="cursor: pointer"
                                ng-class="{listItemSelected:selectedRow == row}"
                                ng-click="getRecord(row)">

                                <td ng-repeat="col in selectedTable.summaryFields">
                                    <div >{{row[col]}}</div>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>





                </div>
                <div class="col-md-5">
                    <uib-tabset>
                        <uib-tab heading="Json">
                            <div class="myScroll">
                                <pre ng-show="selectedRecord">{{selectedRecord | json}}</pre>
                            </div>
                        </uib-tab>
                        <uib-tab ng-show="selectedTable.col == 'playground'" heading="Collection info">
                            <h4>DataGroups in Collection</h4>
                            <div class="myScroll">
                                <table class="table table-bordered">
                                    <tr><th>Name</th><th>Description</th><th># elements</th></tr>
                                    <tr ng-repeat = "(k,v) in selectedRecord.dataGroups">
                                        <td>{{k}}</td>
                                        <td>{{v.description}}</td>
                                        <td>{{v.diff.length}}</td>
                                    </tr>
                                </table>
                            </div>

                        </uib-tab>
                        <uib-tab ng-show="selectedTable.col == 'frozenDG'" heading="Component info">

                            <h5>Metadata</h5>
                            <table class="table table-bordered">
                                <tr><td>Title</td><td>{{selectedRecord.title}}</td></tr>
                                <tr><td>Description</td><td>{{selectedRecord.description}}</td></tr>
                                <tr><td>Key</td><td>{{selectedRecord.key}}</td></tr>
                                <tr><td>Updated</td><td>{{selectedRecord.updated | date}}</td></tr>
                                <tr ng-if="selectedRecord.deleted">
                                    <td></td>
                                    <td><div class="deleted">Component has been deleted</div> </td>
                                </tr>
                            </table>

                            <h5>Elements <span class="badge">{{selectedRecord.diff.length}}</span> </h5>
                            <div class="tableFixHead">
                            <table class="table table-bordered">
                                <thead>
                                <tr><th>Title</th><th>Description</th><th>dataType</th></tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ed in selectedRecord.diff">
                                    <td>
                                        <div  ng-style="{ 'padding-left': (ed.path | pathindent) }">{{ed.title}}</div>
                                    </td>
                                    <td>{{ed.description}}</td>
                                    <td>{{ed.type[0]}}</td>

                                </tr>
                                </tbody>

                            </table>
                            </div>

                        </uib-tab>
                        <uib-tab  ng-show="selectedTable.col == 'publishedQ'"heading="Published Q info">
                            <h5>Metadata</h5>
                            <table class="table table-bordered">
                                <tr><td>Id</td><td>{{selectedRecord.id}}</td></tr>
                                <tr><td>Name</td><td>{{selectedRecord.name}}</td></tr>
                                <tr><td>Title</td><td>{{selectedRecord.title}}</td></tr>
                                <tr><td>Description</td><td>{{selectedRecord.description}}</td></tr>
                                <tr><td>Status</td><td>{{selectedRecord.status}}</td></tr>
                                <tr><td>Url</td><td>{{selectedRecord.url}}</td></tr>
                                <tr><td>Version</td><td>{{selectedRecord.version}}</td></tr>
                            </table>
                        </uib-tab>
                    </uib-tabset>



                </div>

            </div>
        </uib-tab>
        <uib-tab heading="System config">

            <div class="row">
                <div class="col-md-4">
                    <h4>System config</h4>
                    <pre>{{systemConfig | json}}</pre>
                </div>
                <div class="col-md-4">
                    <h4>Database list</h4>
                    <table class="table-bordered table">
                        <tr ng-repeat="db in databases">
                            <td>{{db.name}}</td>
                        </tr>
                    </table>

                </div>
            </div>


        </uib-tab>

    </uib-tabset>





</div>
</body>
