<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Admin</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <script src="js/libs/ngStorage.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>

    <script>
        angular.module("pocApp",['ui.bootstrap','ngStorage']).config(function($locationProvider) {
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });

        angular.module("pocApp").config(['$compileProvider', function ($compileProvider) {
            $compileProvider.aHrefSanitizationWhitelist(/^\s*(http|https?|ftp|mailto|blob):/);
        }]);

        angular.module("formsApp",[])
        angular.module('topApp', ['pocApp', 'formsApp'])

    </script>

    <script src="js/adminCtrl.js"></script>

<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
    <script src="js/qrVisualizerCtrl.js"></script>
    <script src="js/libs/angular-sanitize.js"></script>
    <script src="js/showParameters.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/viewVSCtrl.js"></script>
    <script src="js/qrVisualizerSvc.js"></script>
    <script src="js/viewItemCtrl.js"></script>
    <script src="js/makeQHelperSvc.js"></script>
    -->
    <script src="js/utilsSvc.js"></script>

    <style>
        .fixed-span {
            display: inline-block; /* or block */
            width: 150px;          /* fixed width */
            overflow: hidden;      /* optional, hides overflow */
            white-space: nowrap;   /* optional, prevents wrapping */
            text-overflow: ellipsis; /* optional, shows "..." if clipped */
        }

        .inVS {
            background-color: lightgreen;
        }

        .missingAnswer {
            background-color: mistyrose;
        }
    </style>


</head>
<body style="padding: 8px;padding-top: 80px">
<div ng-app="topApp" ng-controller="adminCtrl" class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-3">
                    <span>
                        <a class="navbar-brand" href="#">
                            Administration
                        </a>
                    </span>

            </div>

            <div class="col-md-1">
                <div class="navbar-text">

                </div>
            </div>





            <div class="col-md-2">
                <div class="navbar-text">


                </div>

            </div>

            <div class="col-md-3">
                <div class="navbar-text">


                </div>
            </div>

            <div class="col-md-1">

            </div>

            <div class="col-md-2">
                <a href="https://teaho.govt.nz/" target="_blank">
                    <img width="150" height="auto" class="pull-right"
                         style="padding: 3px"
                         src="images/TAK-logo-midgreen.png"/>
                </a>
            </div>
        </div>
    </nav>

    <uib-tabset>



        <uib-tab heading="Backup / Restore">
            <br/>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn-primary btn" ng-click="doBackup()">Backup</button>
                </div>
                <div class="col-md-3">
                    Create an export file from the database and save to the local computer. The file can subsequently be used
                    to resource or update a database on another server.
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn-primary btn" ng-click="">Restore</button>
                </div>
                <div class="col-md-3">
                    Restore all or part of a database from a previously created export file.
                </div>
                <div class="col-md-8">


                </div>
            </div>


            <div ng-show = "false" class="row">
                <div class="col-md-3">
                    <br/>





                    <div class="list-group">
                        <div ng-class="{'list-group-item' : true,listItemSelected:command == input.selectedCommand}"
                             style="cursor: pointer"
                             ng-click = "input.selectedCommand = command"
                             ng-repeat = "command in commands">
                            {{command.display}}
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2">
                            {{input.selectedCommand.display }}
                        </div>
                        <div class="col-md-9">
                            {{input.selectedCommand.description }}
                        </div>
                        <div class="col-md-1">
                            <button
                                    ng-if="input.selectedCommand"
                                    class="btn btn-primary" ng-click="execute(input.selectedCommand)">Execute</button>
                        </div>
                    </div>

                    {{input.selectedCommand}}


                    <pre>{{input.backup | json}}</pre>
                </div>
            </div>




        </uib-tab>
        <uib-tab heading="Browse databases">
            <br/>
            <strong>Table</strong>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div ng-class="{'list-group-item' : true,listItemSelected:table == selectedTable}"
                             style="cursor: pointer"
                             ng-click = "selectTable(table)"
                             ng-repeat = "table in tables">
                            {{table.display}}
                        </div>
                    </div>

                    <div><strong>Filter</strong></div>
                    <textarea class="form-control"
                              placeholder=' eg {"name":"Patient"}'
                              ng-model="input.filter"></textarea>

                    <br/>
                    <div><strong>Sort</strong></div>
                    <textarea class="form-control"
                              placeholder=' eg {"name":1,"version":-1}'
                              ng-model="input.sort"></textarea>

                    <button class="btn btn-link pull-right" ng-click="selectTable(selectedTable,input.filter,input.sort)">Refresh</button>

                    <div class="clearfix"></div>
                    <em>Filter and sort must be valid json. Use " as delimeter</em>
                    <br/>
                    <div><strong>Examples</strong></div>
                    <div>Filter</div>
                    <div>{"name":"test"}</div>

                    <div>Sort</div>
                    <div>{"version":-1}</div>

                </div>

                <div class="col-md-4">




                    <div class="tableFixHead">
                        <table class="table-bordered table table-condensed">
                            <thead>
                            <tr>
                                <th ng-repeat="col in selectedTable.summaryFields">{{col}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in tableSummary"
                                style="cursor: pointer"
                                ng-class="{listItemSelected:selectedRow == row}"
                                ng-click="getRecord(row)">

                                <td ng-repeat="col in selectedTable.summaryFields">
                                    <div >{{row[col]}}</div>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>





                </div>
                <div class="col-md-5">
                    <div class="myScroll">
                        <pre ng-show="selectedRecord">{{selectedRecord | json}}</pre>
                    </div>


                </div>

            </div>
        </uib-tab>
        <uib-tab heading="Collections">
            restore a deleted collection
        </uib-tab>

    </uib-tabset>





</div>
</body>
