<div class="modal-header">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h3 class="modal-title">
        Ad hoc extensions on {{currentPath}}
      </h3>
    </div>


    <div class="col-md-4 col-sm-4">
      <button class="btn btn-primary pull-right" ng-click="save()">Close</button>
      <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

    </div>
  </div>

</div>
<div class="modal-body">


  <div class="row">
    <div class="col-md-3">
      <h4>Edit extensions</h4>
      <div class="list-group">
        <div ng-class="{'list-group-item':true,listItemSelected:ext == selectedExt}"
             style="cursor: pointer"
             ng-click="selectExt(ext,$index)"
             ng-repeat="ext in currentExt">

          <span ng-if="canEdit" class="pull-right">
            <i style="color: red" class="glyphicon glyphicon-remove clickable"
             ng-click="deleteExt($index)"></i>
          </span>
          {{ext.url | sdcExtensionName}}
        </div>
      </div>

      <h4>Add extensions</h4>

      <button class="btn-link btn"
              ng-if = "canEdit"
              ng-click="addExt()">Add new extension</button>

      <br/>
      <button class="btn-link btn"
              ng-if = "canEdit"
              ng-click="addExtSet()">Add extension set</button>


      <br/> <br/>
      <hr/>
      <h4>Tools</h4>
      <button class="btn-link btn"
              ng-if = "canEdit"
              ng-click="loadPrePop()">Load Pre-pop dialog</button>

      <div><em>Contains an expression tester</em></div>
      <br/> <br/>

      <button class="btn-link btn"
              ng-if = "canEdit"
              ng-click="showQItemHierarchy()">Show item hierarchy</button>

      <div><em>Display the ancestor items. Useful to determine where variables are defined</em></div>



    </div>
    <div class="col-md-9">

      <textarea style="font-family: monospace; white-space: pre; overflow: auto;"
                class="form-control" rows="20" ng-model="input.selectedExt"
        ng-change="input.isEdited = true">

      </textarea>


      <button ng-show="input.isEdited" class="btn btn-danger pull-right" ng-click="saveChanges(input.selectedExt)">Save changes</button>


    </div>
  </div>


<!--
  <pre>{{currentExt | json}}</pre>
  -->
</div>


<div class="modal-header">

</div>