<div>
  <!--<div ng-controller="newResourceCtrl">-->

  list of items with expression - execute against QR
  link to fplab

  <div class="modal-header">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="modal-title">
          Expression editor
        </h3>
      </div>


      <div class="col-md-4 col-sm-4">
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>

      </div>
    </div>

  </div>
  <div class="modal-body">

    <div class="clickable" ng-click="copyToClipboard(Q)">Copy Q to clipboard</div>
    <div class="clickable" ng-click="copyToClipboard(QR)">Copy QR to clipboard</div>
    <a href="https://dev.fhirpath-lab.com/FhirPath" target="_blank">Open Fhirpath Lab Tester</a>

    <uib-tabset>

    </uib-tabset>


    <div class="row">
      <div class="col-md-6">

      <pre>{{Q | json}}</pre>

      </div>
      <div class="col-md-6">

      <pre>{{QR | json}}</pre>

      </div>
    </div>

    <pre>
      <pre>{{QR | json}}</pre>
    </pre>
  </div>
</div>