<div>
  <!--<div ng-controller="newResourceCtrl">-->

  <div class="modal-header">
    <div class="row">
      <div class="col-md-6">
        <h3 class="modal-title">
          Prepopulation config
        </h3>
      </div>

      <div class="col-md-3">
        <div class="navbar-text">
          Source: {{prePopConfig.source}}
        </div>


      </div>


      <div class="col-md-3">
        <button class="btn btn-primary pull-right"
                ng-show="canSave"
                ng-click="save()">Save config</button>
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Close</button>

      </div>
    </div>

  </div>
  <div class="modal-body">

    <uib-tabset>
      <uib-tab heading="Config">
        <br/>
        <div class="row">
          <div class="col-md-2">
            Prepop type
          </div>
          <div class="col-md-4">
            <div class="btn-group">

              <!-- <label class="btn btn-default" ng-model="input.prepopType" uib-btn-radio="'query'">REST query</label>
              <label class="btn btn-default" ng-model="input.prepopType" uib-btn-radio="'bundle'">Resource bundle</label>-->

              <label class="btn btn-default" ng-model="prePopConfig.source" uib-btn-radio="'query'">REST query</label>
              <label class="btn btn-default"
                     ng-click="setSelectedBundle()"
                     ng-model="prePopConfig.source"

                     uib-btn-radio="'bundle'">Resource bundle</label>

            </div>
          </div>
          <div class="col-md-6">
            <div ng-show="prePopConfig.source == 'bundle'">
              <strong style="font-size: large">Current settings</strong>

              <div><strong>Bundle Name: </strong>{{prePopConfig.bundleEntry.name}}
                ({{prePopConfig.bundleEntry.description}})</div>

              <div><strong>Bundle Id: </strong>{{prePopConfig.bundleEntry.bundleId}}</div>

              <div><strong>Patient: </strong>{{prePopConfig.bundlePatientId.fullUrl}}
                ({{prePopConfig.bundlePatientId.display}})</div>

              <div><strong>Author: </strong>{{prePopConfig.bundleAuthorId.fullUrl}}
                ({{prePopConfig.bundleAuthorId.display}})</div>

            </div>
          </div>

        </div>
        <br/>

        <div ng-show="prePopConfig.source == 'query'">
          <h4>RESTful queries against a FHIR server</h4>
          <table class="table-bordered table">
            <tr>
              <td>Data Server</td>
              <td><input class="form-control" ng-model="prePopConfig.dataServer"></td>
            </tr>

            <tr>
              <td>Patient reference</td>
              <td><input class="form-control" ng-model="prePopConfig.patient.reference"></td>
            </tr>

            <tr>
              <td>Practitioner reference</td>
              <td><input class="form-control" ng-model="prePopConfig.practitioner.reference"></td>
            </tr>

          </table>


        </div>


        <div ng-show="prePopConfig.source == 'bundle'">


          <h4>Available Bundles from the <a target="_blank" href="https://clinfhir.com/clinfhir/bundleViewer.html">clinFHIR Bundle Viewer</a></h4>

          <div class="row">
            <div class="col-md-6">
              <table class="table table-bordered">
                <tr><th>Name</th><th>Description</th></tr>

                <tr ng-repeat="list in lists"
                    style="cursor: pointer"
                    ng-class="{listItemSelected:list==selectedList}"
                    ng-click="selectList(list)">
                  <td>{{list.name}}</td>
                  <td>{{list.description}}</td>
                </tr>
              </table>


            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tr ng-repeat="entry in selectedList.entries"
                    style="cursor: pointer"
                    ng-class="{listItemSelected:entry==selectedBundleEntry}"
                    ng-click="selectBundleEntry(entry)"
                    ng-if="entry.type == 'bundle'" >
                  <td>{{entry.name}}</td>
                  <td>{{entry.description}}</td>
                  <td><div class="clickable" ng-click="viewBundle(entry)">View</div> </td>
                  <!--
                  <td><div class="clickable" ng-click="selectBundleEntry(entry)">Select</div> </td>
                  -->
                </tr>
              </table>


            </div>
          </div>
        </div>



      </uib-tab>

      <uib-tab ng-if="prePopConfig.source == 'bundle'" heading="Bundle descriptor">
        <pre>{{prePopConfig.bundleEntry | json}}</pre>
      </uib-tab>

      <uib-tab ng-if="prePopConfig.source == 'bundle'" heading="">
        <uib-tab-heading>Bundle contents <span class="badge">{{dataBundle.entry.length}}</span> </uib-tab-heading>


        <div class="row">
          <div class="col-md-3">
            <div class="myScroll">
              <div class="list-group">
              <div ng-class="{'list-group-item':true,listItemSelected:input.selectedEntry == entry }"
                   ng-click="input.selectedEntry = entry"
                   style="cursor: pointer"
                   ng-repeat="entry in dataBundle.entry">
                {{entry.resource.resourceType}}
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="myScroll">
              <uib-tabset>
                <uib-tab heading="Entry">
                  <pre>{{input.selectedEntry | json}}</pre>
                </uib-tab>

                <uib-tab heading="Resource">
                  <pre>{{input.selectedEntry.resource | json}}</pre>
                </uib-tab>

                <uib-tab heading="FHIRPath">
                  <fhirpath resource="input.selectedEntry.resource"></fhirpath>

                  Example
                  QuestionnaireResponse.repeat(item).where(linkId = 'wwU9bg')
                </uib-tab>



              </uib-tabset>



            </div>

          </div>
        </div>




      </uib-tab>

      <uib-tab ng-if="qr" heading="QR viewer">
        <br/>
        <qrviewer qr="qr"></qrviewer>


      </uib-tab>

      <uib-tab  ng-if="prePopConfig.source == 'query'" heading="Upload resource">
        <strong>Server: {{prePopConfig.dataServer}}</strong>
        <br/>
        <textarea class="form-control" rows="10" ng-model="input.resource">

        </textarea>

        <div>
          <div class="pull-right btn btn-link" ng-click="upload()">Upload</div>
        </div>

      </uib-tab>

      <uib-tab heading="x-query tester">

<!--
        MedicationStatement?patient={{%patient.id}}
-->


      </uib-tab>

      <uib-tab  ng-if="prePopConfig.source == 'query'" heading="Query FHIR server">
        <strong>Server: {{prePopConfig.dataServer}}</strong>
        <br/> <br/>
        <div class="row">
          <div class="col-md-6">
            <input class="form-control" ng-model="input.query"
                   placeholder="Query - eg Patient/sample"/>
          </div>
          <div class="col-md-2">
            <button class="btn-link btn"  ng-click="doQuery(input.query)">Execute</button>
          </div>
        </div>

        <div ng-show = "responseJson.resourceType == 'Bundle'" class="row">
          <div class="col-md-3">
            <div class="list-group">
              <div ng-class="{'list-group-item':true,listItemSelected:entry==input.selectedEntry}"
                   style="cursor: pointer"
                   ng-click="input.selectedEntry = entry"
                   ng-repeat="entry in responseJson.entry">
                {{entry.resource.resourceType}}/{{entry.resource.id}}
              </div>
            </div>
          </div>
          <div class="col-md-9">

            <pre ng-show="input.selectedEntry">{{input.selectedEntry | json}}</pre>

            <pre ng-show="qryError">{{qryError | json}}</pre>
          </div>
        </div>



        <div ng-show = "responseJson.resourceType !== 'Bundle'" class="row">

          <div class="col-md-12">
            <pre ng-show="responseJson">{{responseJson | json}}</pre>
            <pre ng-show="qryError">{{qryError | json}}</pre>
          </div>
        </div>



      </uib-tab>

      <uib-tab heading="Config Json">
        <pre>{{prePopConfig | json}}</pre>
      </uib-tab>
    </uib-tabset>







  </div>
  <div class="modal-header">

    <div ng-hide="canSave">
      You can select different bundles / servers to view and query, but you
      cannot change the default pre-pop so it's safe to experiment.
    </div>

    {{displayQuery}}
  </div>
</div>