<div>

  <!-- handlers in qViewerCtrl -->



  <!--  Only show the pre-pop panel in the designer-->
  <div ng-hide="input.application == 'viewerXX'"  class="alert-warning alert"
       style="cursor: pointer"
       ng-click="prePopDetails()">
    <div class="row">
      <div class="col-md-3">
        <strong>Prepop source: </strong>
        <span>{{prePopConfig.source}}</span>
      </div>
      <div class="col-md-4">
        <div ng-show="prePopConfig.source == 'bundle'">
          <strong>Bundle: </strong>
          <span>{{prePopConfig.bundleEntry.name}}</span>
        </div>

        <div ng-show="prePopConfig.source == 'query'">
          <strong>Server: </strong>
          <span>{{prePopConfig.dataServer}}</span>
        </div>

      </div>
      <div class="col-md-4">
        <div  ng-show="prePopConfig.source == 'query'">
          <strong>Patient: </strong>
          <span>{{prePopConfig.patient.display}}</span>
        </div>
        <div ng-show="prePopConfig.source == 'bundle'">
          <span>{{prePopConfig.bundleEntry.description}}</span>
        </div>
      </div>
    </div>
  </div>

  <button ng-show="showRenderOptions"
          ng-hide="input.application == 'viewer'"
          class="btn btn-link pull-right" ng-click="openInFPLab()">Open in Fhirpath lab</button>

  <!--
  <button ng-show="showRenderOptions"
          class="btn btn-link pull-right" ng-click="expressionEditor()">Expression editor</button>
-->



  <button ng-show="showRenderOptions"
          ng-hide="input.application == 'viewer'"
          class="btn btn-link pull-right" ng-click="viewQR()">View QR</button>

  <button ng-show="showRenderOptions"
          ng-hide="input.application == 'viewerXX'"
          class="btn btn-link pull-right" ng-click="getExtractBundle()">Get extract Bundle</button>

  <button ng-show="showRenderOptions"
          class="btn btn-link pull-right" ng-click="setPrepop()">Set pre-populate</button>

  <button class="btn btn-link pull-right" ng-click="previewQ()">Refresh</button>


  <iframe id="formPreview" width="100%" height="800"></iframe>
</div>